@import "tailwindcss";

:root {
  --background: #131314;
  --foreground: #efefef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-new-rocker);
  --font-mono: var(--font-tomorrow);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Tomorrow", sans-serif;
}